In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv('cleanedData.csv')
print(data.shape)
print(data.head())

(674, 18)
        id        city country postalCode stateOrProvince  bathrooms  \
0  2698139   St Peters      US      63376              MO          6
1  2698093    St Louis      US      63119              MO          2
2  2698007     Ballwin      US      63021              MO          3
3  2697963  Manchester      US      63021              MO          2
4  2697938    O'fallon      US      63366              MO          4

   bedrooms   latitude  longitude  listPrice  livingArea livingAreaUnit  \
0         5  36.058472 -88.433106   425000.0      3046.0     squareFoot
1         3  36.058472 -88.433106   175000.0      1587.0     squareFoot
2         3  36.058472 -88.433106   295000.0      2437.0     squareFoot
3         3  36.058472 -88.433106   215000.0      1780.0     squareFoot
4         4  36.058472 -88.433106   375000.0      3405.0     squareFoot

   yearBuilt lotSizeUnit         propertySubType listingCategory  photoscount  \
0     1998.0  squareFoot  Single Family Detached        Purchase           29
1     1962.0  squareFoot  Single Family Detached        Purchase           29
2     1986.0  squareFoot             Condominium        Purchase           29
3     1969.0  squareFoot  Single Family Detached        Purchase           29
4     2007.0  squareFoot  Single Family Detached        Purchase           29

     grade
0  awesome
1  awesome
2  awesome
3  awesome
4  awesome

In [10]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674 entries, 0 to 673
Data columns (total 18 columns):
id                 674 non-null int64
city               674 non-null object
country            674 non-null object
postalCode         674 non-null object
stateOrProvince    674 non-null object
bathrooms          674 non-null int64
bedrooms           674 non-null int64
latitude           674 non-null float64
longitude          674 non-null float64
listPrice          674 non-null float64
livingArea         674 non-null float64
livingAreaUnit     674 non-null object
yearBuilt          674 non-null float64
lotSizeUnit        674 non-null object
propertySubType    674 non-null object
listingCategory    674 non-null object
photoscount        674 non-null int64
grade              674 non-null int64
dtypes: float64(5), int64(5), object(8)
memory usage: 94.9+ KB
None

In [6]:
print(data['grade'].unique())
print(data['propertySubType'].unique())

[1 2 3]
['Single Family Detached' 'Condominium' 'Townhouse' 'Manufactured Home'
 'Duplex' 'Other' 'Single Family Attached' 'Apartment' 'Mobile Home'
 'Stock Cooperative' 'Quadruplex' 'Farm' 'Timeshare' 'Triplex']

In [5]:
data['grade'].replace(['awesome','bad','good'],[1,2,3],inplace=True)
print(data['grade'].unique())

[1 2 3]

In [11]:
print(data.columns)

Index(['id', 'city', 'country', 'postalCode', 'stateOrProvince', 'bathrooms',
       'bedrooms', 'latitude', 'longitude', 'listPrice', 'livingArea',
       'livingAreaUnit', 'yearBuilt', 'lotSizeUnit', 'propertySubType',
       'listingCategory', 'photoscount', 'grade'],
      dtype='object')

In [8]:
encoder = LabelEncoder()

In [99]:
data['city'] = encoder.fit_transform(data['city'])
data['country'] = encoder.fit_transform(data['country'])
data['stateOrProvince'] = encoder.fit_transform(data['stateOrProvince'])
data['listingCategory'] = encoder.fit_transform(data['listingCategory'])
data['livingAreaUnit'] = encoder.fit_transform(data['livingAreaUnit'])
data['lotSizeUnit'] = encoder.fit_transform(data['lotSizeUnit'])
data['propertySubType'] = encoder.fit_transform(data['propertySubType'])
data['listingCategory'] = encoder.fit_transform(data['listingCategory'])

TypeError: only size-1 arrays can be converted to Python scalars

In [16]:
print(data.head())

        id  city  country postalCode  stateOrProvince  bathrooms  bedrooms  \
0  2698139   420        2      63376               20          6         5
1  2698093   419        2      63119               20          2         3
2  2698007    18        2      63021               20          3         3
3  2697963   254        2      63021               20          2         3
4  2697938   307        2      63366               20          4         4

    latitude  longitude  listPrice  livingArea  livingAreaUnit  yearBuilt  \
0  36.058472 -88.433106   425000.0      3046.0               0     1998.0
1  36.058472 -88.433106   175000.0      1587.0               0     1962.0
2  36.058472 -88.433106   295000.0      2437.0               0     1986.0
3  36.058472 -88.433106   215000.0      1780.0               0     1969.0
4  36.058472 -88.433106   375000.0      3405.0               0     2007.0

   lotSizeUnit  propertySubType  listingCategory  photoscount  grade
0            0                9                0           29      1
1            0                9                0           29      1
2            0                1                0           29      1
3            0                9                0           29      1
4            0                9                0           29      1

In [17]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674 entries, 0 to 673
Data columns (total 18 columns):
id                 674 non-null int64
city               674 non-null int64
country            674 non-null int64
postalCode         674 non-null object
stateOrProvince    674 non-null int64
bathrooms          674 non-null int64
bedrooms           674 non-null int64
latitude           674 non-null float64
longitude          674 non-null float64
listPrice          674 non-null float64
livingArea         674 non-null float64
livingAreaUnit     674 non-null int64
yearBuilt          674 non-null float64
lotSizeUnit        674 non-null int64
propertySubType    674 non-null int64
listingCategory    674 non-null int64
photoscount        674 non-null int64
grade              674 non-null int64
dtypes: float64(5), int64(12), object(1)
memory usage: 94.9+ KB
None

In [19]:
data['listPrice'] = (data['listPrice'] - data['listPrice'].mean()) / data['listPrice'].std()
data['livingArea'] = (data['livingArea'] - data['livingArea'].mean()) / data['livingArea'].std()
data['yearBuilt'] = (data['yearBuilt'] - data['yearBuilt'].mean()) / data['yearBuilt'].std()

In [20]:
print(data.head())

        id  city  country postalCode  stateOrProvince  bathrooms  bedrooms  \
0  2698139   420        2      63376               20          6         5
1  2698093   419        2      63119               20          2         3
2  2698007    18        2      63021               20          3         3
3  2697963   254        2      63021               20          2         3
4  2697938   307        2      63366               20          4         4

    latitude  longitude  listPrice  livingArea  livingAreaUnit  yearBuilt  \
0  36.058472 -88.433106  -0.013684    0.973075               0   0.380010
1  36.058472 -88.433106  -0.058423   -0.286374               0  -0.403452
2  36.058472 -88.433106  -0.036949    0.447370               0   0.118856
3  36.058472 -88.433106  -0.051265   -0.119771               0  -0.251112
4  36.058472 -88.433106  -0.022632    1.282974               0   0.575875

   lotSizeUnit  propertySubType  listingCategory  photoscount  grade
0            0                9                0           29      1
1            0                9                0           29      1
2            0                1                0           29      1
3            0                9                0           29      1
4            0                9                0           29      1

In [28]:
print(data['grade'].value_counts())

1    266
3    227
2    181
Name: grade, dtype: int64

In [30]:
data.drop(['id'],axis=1,inplace=True)

In [74]:
print(data['city'].unique())
print(data.head())
print(data.info())
del data['postalCode']

[420   3 181 426  85 378  22 296 125 354 332 371 413 244 382 345 257 293
 369 464 432 383 199 170 262  55   1  26 218 243 356  48 239 147 172  59
  24 364 328 409 400 279 337 439  90 298 322 213 463 340 379 438 309 331
  67  79 325 166 193 248 387 404 460 408 388 470 384 308 136 134 393 366
 101 399 292  46 318 285 324 329 380 444  20 235 386 216  93 305 246  88
 115 454 449 250 127 456 225 479 445 100 280  92 440 114  47 228  44 473
  37 466   4 133 304 231 437  50  81 205 251  53 204 179 175 269 330 374
 247 358 232 434  12 365 394 300 111 355 270 233 321 352 362 344 278 334
 178 271 249 277 469  76 153  13 436 307 254  18 267 419  86 189  57  65
  25 168 263 336  31 186   9 135 145 258 236 385 435 397 421 146 381 106
  70 198 283 104 117 196 174 446 317  45  34 441  72   7  87 137 297 311
  15 427 105  78 349 368 110 372 455 392 214 217 222 180 209  40 458  41
 314 203 240 124 347 139 227 159  77  64 376 450  63 107 467 201 338  74
 116 123 471  32 138 112 474 122  49 302 433 301 423  54 226 173  17  30
 182  80  60 276 406  36  61 144 188 424 313 480  89 312 402 339 200 272
 259 412 108 158 288 448 171 348 303 403  42  21 261 443 210 184 396 367
  99 194 275 268 326  83  71 375 160  35  39  84 156 155 333   5 202 370
 206 154 253 142 282 398 410 149 126 141  56 187 341 195 451 183 230  16
  73 391  52 151 185 238 241 161 475 143 176 132 295 407 118  51 273 281
 260 422 417 457 306 266 219 411  28 119 211 197  66 234 113  58 353 447
  82 476  14  29 361 128 416 212 120 350 442 237 363  97 425  98 129 140
 377 360 401  10   0 265 462  38 327 208 221 255  68 286 351 109 290 395
 342 274 323 192 335 343  11 310 215 291 414 415 359 418 163  33  95 169
 229 429   2 299  75  27 224  91 245 452 256  62 373 284 459  23 453 165
 481 220 167 461 357 252 316 102 477 468 207  96 131 472 190  69 164 390
   6 346 389 152 405   8 294 121 430 315 150 428 431 130 319 264 103 177
 287 162  94 478 242  19 465 320  43 157 289 191 223 148]
     city  country  postalCode  stateOrProvince  bathrooms  bedrooms  \
0     420        2       63376               20          6         5
202     3        2       87111               27          4         5
210   181        2       49328               18          2         3
211   426        2  28625-8707               23          2         3
212    85        2       55448               19          2         3

      latitude   longitude  listPrice  livingArea  livingAreaUnit  yearBuilt  \
0    36.058472  -88.433106  -0.013684    0.973075               0   0.380010
202  35.136315 -106.547167  -0.003842    1.547121               0  -0.229349
210  42.628065  -85.763671  -0.062897   -0.272562               0  -1.752746
211  35.825348  -80.938634  -0.059497   -0.534120               0   0.336484
212  45.158666  -93.269315  -0.052178   -0.254434               0  -0.425214

     lotSizeUnit  propertySubType  listingCategory  photoscount  grade
0              0                9                0           29      1
202            0                9                0           88      1
210            0                9                0           40      1
211            0                9                0           29      1
212            0                9                0           29      1
<class 'pandas.core.frame.DataFrame'>
Int64Index: 674 entries, 0 to 277
Data columns (total 17 columns):
city               674 non-null int64
country            674 non-null int64
postalCode         674 non-null object
stateOrProvince    674 non-null int64
bathrooms          674 non-null int64
bedrooms           674 non-null int64
latitude           674 non-null float64
longitude          674 non-null float64
listPrice          674 non-null float64
livingArea         674 non-null float64
livingAreaUnit     674 non-null int64
yearBuilt          674 non-null float64
lotSizeUnit        674 non-null int64
propertySubType    674 non-null int64
listingCategory    674 non-null int64
photoscount        674 non-null int64
grade              674 non-null int64
dtypes: float64(5), int64(11), object(1)
memory usage: 114.8+ KB
None

In [75]:
print(data['grade'].value_counts())

1    266
3    227
2    181
Name: grade, dtype: int64

In [139]:
def train_and_test_data(data):
    #print(data.info())
    train_data = pd.DataFrame(columns=data.columns)
    test_data = pd.DataFrame(columns=data.columns)
    
    data1 = data[data['grade'] == 1]
    data2 = data[data['grade'] == 2]
    data3 = data[data['grade'] == 3]
    
    train_data = train_data.append(data1[:200])
    train_data = train_data.append(data2[:130])
    train_data = train_data.append(data3[:180])
    
    test_data = test_data.append(data1[200:])
    test_data = test_data.append(data2[130:])
    test_data = test_data.append(data3[180:])
    
    
    
    
    return (train_data,test_data)

In [149]:
(train,test) = train_and_test_data(data)


train['city'] = train['city'].astype('int')
train['country'] = train['country'].astype('int')
train['stateOrProvince'] = train['stateOrProvince'].astype('int')
train['bathrooms'] = train['bathrooms'].astype('int')
train['bedrooms'] = train['bedrooms'].astype('int')
train['lotSizeUnit'] = train['lotSizeUnit'].astype('int')
train['propertySubType'] = train['propertySubType'].astype('int')
train['listingCategory'] = train['listingCategory'].astype('int')
train['photoscount'] = train['photoscount'].astype('int')
train['livingAreaUnit'] = train['livingAreaUnit'].astype('int')
train['grade'] = train['grade'].astype('int')

test['city'] = test['city'].astype('int')
test['country'] = test['country'].astype('int')
test['stateOrProvince'] = test['stateOrProvince'].astype('int')
test['bathrooms'] = test['bathrooms'].astype('int')
test['bedrooms'] = test['bedrooms'].astype('int')
test['lotSizeUnit'] = test['lotSizeUnit'].astype('int')
test['propertySubType'] = test['propertySubType'].astype('int')
test['listingCategory'] = test['listingCategory'].astype('int')
test['photoscount'] = test['photoscount'].astype('int')
test['grade'] = test['grade'].astype('int')
test['livingAreaUnit'] = test['livingAreaUnit'].astype('int')
print(train.shape)
print(test.shape)
print("\nThe value counts in train : \n",train['grade'].value_counts())
print("\nThe value counts in test : \n",test['grade'].value_counts())

print(train.info())
print(test.info())
train_x = train.drop(['grade'],axis=1)
train_y = train['grade']
test_x = test.drop(['grade'],axis=1)
test_y = test['grade']

(510, 16)
(164, 16)

The value counts in train :
 1    200
3    180
2    130
Name: grade, dtype: int64

The value counts in test :
 1    66
2    51
3    47
Name: grade, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 0 to 535
Data columns (total 16 columns):
city               510 non-null int32
country            510 non-null int32
stateOrProvince    510 non-null int32
bathrooms          510 non-null int32
bedrooms           510 non-null int32
latitude           510 non-null float64
longitude          510 non-null float64
listPrice          510 non-null float64
livingArea         510 non-null float64
livingAreaUnit     510 non-null int32
yearBuilt          510 non-null float64
lotSizeUnit        510 non-null int32
propertySubType    510 non-null int32
listingCategory    510 non-null int32
photoscount        510 non-null int32
grade              510 non-null int32
dtypes: float64(5), int32(11)
memory usage: 45.8 KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 61 to 277
Data columns (total 16 columns):
city               164 non-null int32
country            164 non-null int32
stateOrProvince    164 non-null int32
bathrooms          164 non-null int32
bedrooms           164 non-null int32
latitude           164 non-null float64
longitude          164 non-null float64
listPrice          164 non-null float64
livingArea         164 non-null float64
livingAreaUnit     164 non-null int32
yearBuilt          164 non-null float64
lotSizeUnit        164 non-null int32
propertySubType    164 non-null int32
listingCategory    164 non-null int32
photoscount        164 non-null int32
grade              164 non-null int32
dtypes: float64(5), int32(11)
memory usage: 14.7 KB
None

In [150]:
print(train_x.head())
print("\n\n\n\n")
print(train_y.head())
print(train_x.info())

     city  country  stateOrProvince  bathrooms  bedrooms   latitude  \
0     420        2               20          6         5  36.058472
202     3        2               27          4         5  35.136315
210   181        2               18          2         3  42.628065
211   426        2               23          2         3  35.825348
212    85        2               19          2         3  45.158666

      longitude  listPrice  livingArea  livingAreaUnit  yearBuilt  \
0    -88.433106  -0.013684    0.973075               0   0.380010
202 -106.547167  -0.003842    1.547121               0  -0.229349
210  -85.763671  -0.062897   -0.272562               0  -1.752746
211  -80.938634  -0.059497   -0.534120               0   0.336484
212  -93.269315  -0.052178   -0.254434               0  -0.425214

     lotSizeUnit  propertySubType  listingCategory  photoscount
0              0                9                0           29
202            0                9                0           88
210            0                9                0           40
211            0                9                0           29
212            0                9                0           29





0      1
202    1
210    1
211    1
212    1
Name: grade, dtype: int32
<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 0 to 535
Data columns (total 15 columns):
city               510 non-null int32
country            510 non-null int32
stateOrProvince    510 non-null int32
bathrooms          510 non-null int32
bedrooms           510 non-null int32
latitude           510 non-null float64
longitude          510 non-null float64
listPrice          510 non-null float64
livingArea         510 non-null float64
livingAreaUnit     510 non-null int32
yearBuilt          510 non-null float64
lotSizeUnit        510 non-null int32
propertySubType    510 non-null int32
listingCategory    510 non-null int32
photoscount        510 non-null int32
dtypes: float64(5), int32(10)
memory usage: 43.8 KB
None

In [151]:
from xgboost import XGBClassifier
clf = XGBClassifier()

In [152]:
clf.fit(train_x,train_y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [153]:
clf.score(test_x,test_y)

C:\Users\arspiedy\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.8719512195121951